:root {
    --yellow: #ffd049;
    --light-yellow: #fdf2d2;
    --orange: #ffa929;
    --light-gray: #333333;
    --gray: #71738b;
    --light-blue: #7a7c93;
    --blue: #34385a;
    --handle-color: #8F93FF;

    --slider-handle-size: 16px;
    --slider-handle-border-radius: 50%;
    --slider-handle-margin-top: -6px;
    --slider-track-height: 3px;
    --slider-track-border-radius: 5px;
}

/* * {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
} */

#sliderContainer {
    width: 100%;
    max-width: 440px;
    padding: 56px 40px;
    border-radius: 40px;
    box-shadow: 0px 8px 40px rgba(128, 128, 128, 0.15);
}

.tick-slider {
    position: relative;
    width: 100%;
}

.tick-slider-value-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
}

.tick-slider-value {
    position: absolute;
    top: 3px;
    color: var(--blue);
    border-radius: var(--slider-handle-border-radius);
}

.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
    position: absolute;
    bottom: 23px;
    left: 0;
    height: var(--slider-track-height);
    pointer-events: none;
    border-radius: var(--slider-track-border-radius);
    z-index: -1;
}

.tick-slider-background {
    width: 100%;
    height: 3px;
    background-color: var(--light-gray);
    border-radius: 5px;
    opacity: .15;
}

.tick-slider-progress {
    background-color: var(--handle-color);
}

.tick-slider-label {
    opacity: .33;
}

.tick-slider-label.hidden {
    opacity: 0;
}

@keyframes bulge {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*

    REMOVE SLIDER STYLE DEFAULTS

*/
input[type="range"] {
    -webkit-appearance: none;

    width: 100%;
    height: 100%;

    background: transparent;
    outline: none;

    margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    border: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

/*

    HANDLE

*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--handle-color);

    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    margin-top: var(--slider-handle-margin-top);
  
    -webkit-transform: scale(1);
    /* transform: scale(1); */

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--orange);

    border: none;
    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
    transform: scale(1.2);
}

/*

    TRACK

*/

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: none;
}
input[type="range"]:active::-webkit-slider-runnable-track {
    background: none;
}